# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings
# DATABASE_URL='mysql://ri6gxelgev0uxx8gnrua:pscale_pw_YzkfZ3eFbgwVMPxQuLWj90qMpsBfRklcC0sIyKFiLKg@aws.connect.psdb.cloud/recipe-app?sslaccept=strict'
DATABASE_URL='mysql://1cwblcva9uusor13frpf:pscale_pw_j1sRnxDDlF6ATmk5kQybtQuKd0StKTsdkVssmj0fa9h@aws.connect.psdb.cloud/recipe-app?sslaccept=strict'

NEXTAUTH_SECRET=4544f1a3d677ee3829324cb9c7a163c0

GOOGLE_CLIENT_ID="340026371845-37v28hjp0libqug16ooel4284j132fpq.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="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"

PLANETSCALE_PW= pscale_pw_j1sRnxDDlF6ATmk5kQybtQuKd0StKTsdkVssmj0fa9h